<nav class="navbar navbar-bananago">
  <div class="container">
    
    <div class="nav-col-left">
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <div class="burger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>

    <div class="nav-col-center">
      <a class="navbar-brand m-0" href="index.html">
        <img src="assets/img/logo.jpg" alt="Banana_Go Logo" class="navbar-logo">
      </a>
    </div>

   <div class="nav-col-right">

    <!-- LOGIN -->
    <a href="login.php" class="btn-nav-auth me-2">Login</a>

    <!-- REGISTER -->
    <a href="register.php" class="btn-nav-auth-outline me-2">Register</a>

    <!-- ORDER -->
    <a href="order.php" class="btn-nav-order">Order Now</a>

</div>

  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" style="background-color: var(--bg-primary); border-right: none;">
  <div class="offcanvas-header justify-content-end">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="filter: brightness(0) saturate(100%) invert(13%) sepia(43%) saturate(1048%) hue-rotate(331deg) brightness(91%) contrast(90%);"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column align-items-center mt-5">
      <li class="nav-item mb-4"><a class="nav-link-menu" href="index.html">Home</a></li>
      <li class="nav-item mb-4"><a class="nav-link-menu" href="order.php">Our Product</a></li>
      <li class="nav-item mb-4"><a class="nav-link-menu" href="#contact">Contact</a></li>
      <li class="nav-item mb-4"><a class="nav-link-menu" href="#about">About Us</a></li>
    </ul>
  </div>
</div>