<nav class="navbar navbar-expand-lg navbar-bananago shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logo.jpg" alt="Banana_Go Logo" class="navbar-logo">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#products">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#about">Tentang Kami</a>
        </li>
        <li class="nav-item mt-3 mt-lg-0">
          <a class="nav-link btn btn-outline-dark px-4 ms-lg-3" href="#order" style="color: var(--text-secondary) !important; border-color: var(--text-secondary);">Pesan Sekarang</a>
        </li>
      </ul>
    </div>
  </div>
</nav>